{
  "Chains": {
    "3": {
      "WebSocket": "ws://localhost:8547",
      "Funds": {
        "Type": "EIP20",
        "Amount": 100,
        "Address": "0x325f05a75999347b7d8461BaEf274afAE0B8AE1c"
      }
    },
    "1406": {
      "WebSocket": "ws://localhost:8549",
      "Funds": {
        "Type": "Coin",
        "Amount": 10
      }
    },
    "1407": {
      "WebSocket": "ws://localhost:8550",
      "Funds": {
         "Type": "Coin",
         "Amount": 10
      }
    }
  }
}
